        #pictureUrl {
            margin: 0 auto;
            width: 30%;
            display: -moz-box;
            display: -webkit-box;
            display: box;
            -moz-box-pack: center;
            -moz-box-align: center;
            -webkit-box-pack: center;
            -webkit-box-align: center;
            box-pack: center;
            box-align: center;
            -moz-border-radius: 256px;
            -webkit-border-radius: 256px;
            border-radius: 256px;
        }
  
        h1{
            font-size: 30px;
        }

        #accessToken {
            display: block;
            overflow: auto;
        }

        .word-wrap{
            word-wrap: break-word;
        }

        .list-group{
            font-size: .9rem;
        }

        .list-group-item{
            height: 40px;
            padding: 10px;
        }

        .list-group .active{
            background-color: rgba(13, 44, 145, 0.904);
            font-size: 1rem;
        }